body {
  background-color: #EDF8FF;
  overflow: hidden;
  width: 1920px;
  height: 1080px;
}

.body-on {
  background-color: #313F86;
}

h1 {
  position: relative;
  margin-top: 110px;
  margin-left: 164px;
  font-family: 'Comfortaa', cursive;
  font-style: normal;
  ;
  font-size: 48px;
  color: #313F86;
}

p {
  position: relative;
  width: 392px;
  margin-left: 164px;
  margin-top: 50px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  color: #313F86;
}

.sectionmain {
  display: block;
}

.main-off {
  display: none;
}

.section1 {
  display: none;
}

.s1 {
  display: block;
}


.sectionballs {
  display: none;
}

.sballs-off {
  display: block;
}

.balls {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-flow: row;
}

.ball {
  position: relative;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 100%;
  width: 70px;
  height: 70px;
  background: #313F86;
  z-index: -4;
  animation: ball 8s infinite;
}

.ball1 {
  position: relative;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 100%;
  width: 70px;
  height: 70px;
  background: #313F86;
  z-index: -4;
  animation: ball1 8s infinite;
}

.ball2 {
  position: relative;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 100%;
  width: 70px;
  height: 70px;
  background: #313F86;
  z-index: -4;
  animation: ball2 8s infinite;
}

.ball3 {
  position: relative;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 100%;
  width: 70px;
  height: 70px;
  background: #313F86;
  z-index: -4;
  animation: ball3 8s infinite;
}

.ball4 {
  position: relative;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 100%;
  width: 70px;
  height: 70px;
  background: #313F86;
  z-index: -4;
  animation: ball4 8s infinite;
}

.ball5 {
  position: relative;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 100%;
  width: 70px;
  height: 70px;
  background: #313F86;
  z-index: -4;
  animation: ball5 8s infinite;
}

.ball6 {
  position: relative;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 100%;
  width: 70px;
  height: 70px;
  background: #313F86;
  z-index: -4;
  animation: ball6 8s infinite;
}

.ball7 {
  position: relative;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 100%;
  width: 70px;
  height: 70px;
  background: #313F86;
  z-index: -4;
  animation: ball7 8s infinite;
}

.ball8 {
  position: relative;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 100%;
  width: 70px;
  height: 70px;
  background: #313F86;
  z-index: -4;
  animation: ball8 8s infinite;
}

.ball9 {
  position: relative;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 100%;
  width: 70px;
  height: 70px;
  background: #313F86;
  z-index: -4;
  animation: ball9 8s infinite;
}

.ball10 {
  position: relative;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 100%;
  width: 70px;
  height: 70px;
  background: #313F86;
  z-index: -4;
  animation: ball10 8s infinite;
}

.ball11 {
  position: relative;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 100%;
  width: 70px;
  height: 70px;
  background: #313F86;
  z-index: -4;
  animation: ball11 8s infinite;
}

.ball12 {
  position: relative;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 100%;
  width: 70px;
  height: 70px;
  background: #313F86;
  z-index: -4;
  animation: ball12 8s infinite;
}

.ball13 {
  position: relative;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 100%;
  width: 70px;
  height: 70px;
  background: #313F86;
  z-index: -4;
  animation: ball13 8s infinite;
}

@keyframes ball {
  0% {
    transform: scale(1);
  }

  20% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes ball1 {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes ball2 {
  0% {
    transform: scale(1);
  }

  30% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes ball3 {
  0% {
    transform: scale(1);
  }

  35% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes ball4 {
  0% {
    transform: scale(1);
  }

  40% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes ball5 {
  0% {
    transform: scale(1);
  }

  45% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes ball6 {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes ball7 {
  0% {
    transform: scale(1);
  }

  55% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes ball8 {
  0% {
    transform: scale(1);
  }

  60% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes ball9 {
  0% {
    transform: scale(1);
  }

  65% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes ball10 {
  0% {
    transform: scale(1);
  }

  70% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes ball11 {
  0% {
    transform: scale(1);
  }

  75% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes ball12 {
  0% {
    transform: scale(1);
  }

  80% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes ball13 {
  0% {
    transform: scale(1);
  }

  85% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

.ball-on {
  position: relative;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  background: #313F86;
  z-index: -4;
  animation:
}

.section2 {
  display: none;
}

.s2 {
  display: block;
}

.s3 {
  display: block;
}

.s4 {
  display: block;
  z-index: 4;
}

.s5 {
  display: block;
}

.s6 {
  display: block;
}

svg {
  cursor: pointer;
}

.section3 {
  display: none;
}

.section4 {
  display: none;
}

.section5 {
  display: none;
}

.section6 {
  display: none;
}

.sectionswa {
  display: block;
}

.swa-off {
  display: none;
}

.sectionswb {
  display: block;
}

.swb-off {
  display: none;
}

.sectionswc {
  display: block;
}

.swc-off {
  display: none;
}

.sectionswd {
  display: block;
}

.swd-off {
  display: none;
}

.sectionswe {
  display: block;
}

.swe-off {
  display: none;
}

.sectionswf {
  display: block;
}

.swf-off {
  display: none;
}

.p1 {
  width: 230px;
  margin-left: 33px;
  margin-top: 42px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #313F86;
}


.winflex {
  display: flex;
}

.window1 {
  position: absolute;
  width: 309px;
  height: 145px;
  margin-left: 164px;
  margin-top: 397px;
  background: #EDF8FF;
  border: 2px solid #313F86;
  box-sizing: border-box;
  border-radius: 40px;
  z-index: 4;
}

.window2 {
  position: absolute;
  width: 309px;
  height: 145px;
  margin-left: 910px;
  margin-top: 740px;
  background: #EDF8FF;
  border: 2px solid #313F86;
  box-sizing: border-box;
  border-radius: 40px;
  z-index: 4;
}

.window3 {
  position: absolute;
  width: 309px;
  height: 145px;
  margin-left: 1450px;
  margin-top: 167px;
  background: #EDF8FF;
  border: 2px solid #313F86;
  box-sizing: border-box;
  border-radius: 40px;
  z-index: 4;
}

/* Первый перключатель */
.switcha {
  position: absolute;
  width: 309px;
  height: 101px;
  left: 169px;
  top: 608px;
  border-radius: 100px;
  border: 2px #313F86;
  background: #313F86;
  cursor: pointer;
  transition-duration: 1.5s;
}

.switcha::after {
  content: "";
  height: 71px;
  /* высота кнопки */
  width: 71px;
  /* ширина кнопки */
  border-radius: 100px;
  background: #EDF8FF;
  /* цвет кнопки */
  border: 2px solid #313F86;
  top: 14px;
  left: 15px;
  transition-duration: 2s;
  position: absolute;
  z-index: 1;
}

.switcha-on {
  background: #EDF8FF;
  border: 2px solid #313F86;
}

.switcha-on::after {
  left: 220px;
  background: #313F86;
  border: 2px solid #313F86;
}

.img1 {
  margin-left: 28px;
  margin-top: 25px;
  height: 50px;
  z-index: 2;
  width: 40px;
  transition-duration: 2s;
  position: absolute;
  background-image: url('../img/moonblue.svg');
}

.img1-on {
  content: "";
  margin-left: 235px;
  margin-top: 25px;
  height: 50px;
  z-index: 2;
  width: 40px;
  position: absolute;
  background-image: url('../img/moonwhite.svg');
}

.img2 {
  margin-left: 25px;
  margin-top: 38px;
  height: 25px;
  z-index: 2;
  width: 51px;
  transition-duration: 2s;
  position: absolute;
  background-image: url('../img/mask.svg');
}

.img2-on {
  content: "";
  margin-left: 232px;
  margin-top: 38px;
  height: 25px;
  z-index: 2;
  width: 51px;
  position: absolute;
  background-image: url('../img/maskwhite.svg');
}

.img3 {
  margin-left: 28px;
  margin-top: 28px;
  height: 45px;
  z-index: 2;
  width: 45px;
  transition-duration: 2s;
  position: absolute;
  background-image: url('../img/switchstar.svg');
}

.img3-on {
  content: "";
  margin-left: 236px;
  margin-top: 28px;
  height: 45px;
  z-index: 2;
  width: 45px;
  position: absolute;
  background-image: url('../img/switchstarwhite.svg');
}

/* Второй переключатель */
.switchb {
  position: absolute;
  width: 309px;
  height: 101px;
  left: 324px;
  top: 785px;
  border-radius: 100px;
  border: 2px #313F86;
  background: #313F86;
  cursor: pointer;
  transition-duration: 1.5s;
}

.switchb::after {
  content: "";
  height: 71px;
  /* высота кнопки */
  width: 71px;
  /* ширина кнопки */
  border-radius: 100px;
  background: #EDF8FF;
  /* цвет кнопки */
  top: 14px;
  left: 15px;
  transition-duration: 2s;
  position: absolute;
  z-index: 1;
}

.switchb-on {
  background: #EDF8FF;
  border: 2px solid #313F86;
}

.switchb-on::after {
  left: 220px;
  background: #313F86;
  border: 2px solid #313F86;
}

/* Третий переключатель */
.switchc {
  position: absolute;
  width: 309px;
  height: 101px;
  left: 743px;
  top: 295px;
  border-radius: 100px;
  border: 2px #313F86;
  background: #313F86;
  cursor: pointer;
  transition-duration: 1.5s;
}

.switchc::after {
  content: "";
  height: 71px;
  /* высота кнопки */
  width: 71px;
  /* ширина кнопки */
  border-radius: 100px;
  background: #EDF8FF;
  /* цвет кнопки */
  top: 14px;
  left: 15px;
  transition-duration: 2s;
  position: absolute;
  z-index: 1;
}

.switchc-on {
  background: #EDF8FF;
  border: 2px solid #313F86;
}

.switchc-on::after {
  left: 220px;
  background: #313F86;
  border: 2px solid #313F86;
}

/* Четвёртый переключатель */
.switchd {
  position: absolute;
  width: 309px;
  height: 101px;
  left: 910px;
  top: 507px;
  border-radius: 100px;
  border: 2px #313F86;
  background: #313F86;
  cursor: pointer;
  transition-duration: 1.5s;
}

.switchd::after {
  content: "";
  height: 71px;
  /* высота кнопки */
  width: 71px;
  /* ширина кнопки */
  border-radius: 100px;
  background: #EDF8FF;
  /* цвет кнопки */
  top: 14px;
  left: 15px;
  transition-duration: 2s;
  position: absolute;
  z-index: 1;
}

.switchd-on {
  background: #EDF8FF;
  border: 2px solid #313F86;
}

.switchd-on::after {
  left: 220px;
  background: #313F86;
  border: 2px solid #313F86;
}

/* Пятый переключатель */
.switche {
  position: absolute;
  width: 309px;
  height: 101px;
  left: 1447px;
  top: 507px;
  border-radius: 100px;
  border: 2px #313F86;
  background: #313F86;
  cursor: pointer;
  transition-duration: 1.5s;
}

.switche::after {
  content: "";
  height: 71px;
  /* высота кнопки */
  width: 71px;
  /* ширина кнопки */
  border-radius: 100px;
  background: #EDF8FF;
  /* цвет кнопки */
  top: 14px;
  left: 15px;
  transition-duration: 2s;
  position: absolute;
  z-index: 1;
}

.switche-on {
  background: #EDF8FF;
  border: 2px solid #313F86;
}

.switche-on::after {
  left: 220px;
  background: #313F86;
  border: 2px solid #313F86;
}

/* Шестой переключатель */
.switchf {
  position: absolute;
  width: 309px;
  height: 101px;
  left: 1447px;
  top: 785px;
  border-radius: 100px;
  border: 2px #313F86;
  background: #313F86;
  cursor: pointer;
  transition-duration: 1.5s;
}

.switchf::after {
  content: "";
  height: 71px;
  /* высота кнопки */
  width: 71px;
  /* ширина кнопки */
  border-radius: 100px;
  background: #EDF8FF;
  /* цвет кнопки */
  top: 14px;
  left: 15px;
  transition-duration: 2s;
  position: absolute;
  z-index: 1;
}

.switchf-on {
  background: #EDF8FF;
  border: 2px solid #313F86;
}

.switchf-on::after {
  left: 220px;
  background: #313F86;
  border: 2px solid #313F86;
}

.futer {
  display: flex;
  margin-top: 692px;
  margin-left: 1282px;
}

.name {
  margin-right: 0px;
  width: 135px;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  color: #313F86;
}

.group {
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  color: #313F86;
  margin-left: 50px;
}

.hseadc {
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  color: #313F86;
  margin-left: 50px;
}

.year {
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  color: #313F86;
  margin-left: 50px;
}

.star1 {
  position: absolute;
  left: 81px;
  top: 175px;
}

.star2 {
  position: absolute;
  left: 230px;
  top: 780px;
}

.star3 {
  position: absolute;
  left: 710px;
  top: 550px;
}

.star4 {
  position: absolute;
  left: 1010px;
  top: 113px;
}

.star5 {
  position: absolute;
  left: 960px;
  top: 915px;
}

.star6 {
  position: absolute;
  left: 1315px;
  top: 763px;
}

.star7 {
  position: absolute;
  left: 1330px;
  top: 268px;
}

.star8 {
  position: absolute;
  left: 1700px;
  top: 380px;
}

.star9 {
  position: absolute;
  left: 1815px;
  top: 600px;
}

.circles {
  position: absolute;
}

.circle1 {
  position: absolute;
  left: -200px;
  top: -200px;
  width: 440px;
  height: 440px;
  border-radius: 100%;
  str: 1px solid #313F86;
  animation: circle1 15s linear infinite;
}

@keyframes circle1 {
  0% {
    transform: scale(100%);
  }

  100% {
    transform: scale(1000%);
  }
}

.circle2 {
  position: absolute;
  left: -200px;
  top: -200px;
  width: 440px;
  height: 440px;
  border-radius: 100%;
  border: 1px solid #313F86;
  animation: circle2 16s linear infinite;
}

@keyframes circle2 {
  0% {
    opacity: 0%
  }

  5% {
    transform: scale(100%);
    opacity: 0%
  }

  10% {
    opacity: 100%;
  }

  100% {
    transform: scale(1000%);
  }
}

.circle3 {
  position: absolute;
  left: -200px;
  top: -200px;
  width: 440px;
  height: 440px;
  border-radius: 100%;
  border: 1px solid #313F86;
  animation: circle3 17s linear infinite;
}

@keyframes circle3 {
  0% {
    opacity: 0%
  }

  10% {
    transform: scale(100%);
    opacity: 0%
  }

  15% {
    opacity: 100%;
  }

  100% {
    transform: scale(1000%);
  }
}

.circle4 {
  position: absolute;
  left: -200px;
  top: -200px;
  width: 440px;
  height: 440px;
  border-radius: 100%;
  border: 1px solid #313F86;
  animation: circle4 18s linear infinite;
}

@keyframes circle4 {
  0% {
    opacity: 0%
  }

  15% {
    transform: scale(100%);
    opacity: 0%
  }

  20% {
    opacity: 100%;
  }

  100% {
    transform: scale(1000%);
  }
}

.circle5 {
  position: absolute;
  left: -200px;
  top: -200px;
  width: 440px;
  height: 440px;
  border-radius: 100%;
  border: 1px solid #313F86;
  animation: circle5 19s linear infinite;
}

@keyframes circle5 {
  0% {
    opacity: 0%
  }

  20% {
    transform: scale(100%);
    opacity: 0%
  }

  25% {
    opacity: 100%;
  }

  100% {
    transform: scale(1000%);
  }
}

.circle6 {
  position: absolute;
  left: -200px;
  top: -200px;
  width: 440px;
  height: 440px;
  border-radius: 100%;
  border: 1px solid #313F86;
  animation: circle6 20s linear infinite;
}

@keyframes circle6 {
  0% {
    opacity: 0%
  }

  25% {
    transform: scale(100%);
    opacity: 0%
  }

  30% {
    opacity: 100%;
  }

  100% {
    transform: scale(1000%);
  }
}

.circle7 {
  position: absolute;
  left: -200px;
  top: -200px;
  width: 440px;
  height: 440px;
  border-radius: 100%;
  border: 1px solid #313F86;
  animation: circle7 21s linear infinite;
}

@keyframes circle7 {
  0% {
    opacity: 0%
  }

  30% {
    transform: scale(100%);
    opacity: 0%
  }

  35% {
    opacity: 100%;
  }

  100% {
    transform: scale(1000%);
  }
}

.circle8 {
  position: absolute;
  left: -200px;
  top: -200px;
  width: 440px;
  height: 440px;
  border-radius: 100%;
  border: 1px solid #313F86;
  animation: circle8 22s linear infinite;
}

@keyframes circle8 {
  0% {
    opacity: 0%
  }

  35% {
    transform: scale(100%);
    opacity: 0%
  }

  40% {
    opacity: 100%;
  }

  100% {
    transform: scale(1000%);
  }
}

.circle9 {
  position: absolute;
  left: -200px;
  top: -200px;
  width: 440px;
  height: 440px;
  border-radius: 100%;
  border: 1px solid #313F86;
  animation: circle9 23s linear infinite;
}

@keyframes circle9 {
  0% {
    opacity: 0%
  }

  40% {
    transform: scale(100%);
    opacity: 0%
  }

  45% {
    opacity: 100%;
  }

  100% {
    transform: scale(1000%);
  }
}

.circle10 {
  position: absolute;
  left: -200px;
  top: -200px;
  width: 440px;
  height: 440px;
  border-radius: 100%;
  border: 1px solid #313F86;
  animation: circle10 24s linear infinite;
}

@keyframes circle10 {
  0% {
    opacity: 0%
  }

  45% {
    transform: scale(100%);
    opacity: 0%
  }

  50% {
    opacity: 100%;
  }

  100% {
    transform: scale(1000%);
  }
}

.circle11 {
  position: absolute;
  left: -200px;
  top: -200px;
  width: 440px;
  height: 440px;
  border-radius: 100%;
  border: 1px solid #313F86;
  animation: circle11 25s linear infinite;
}

@keyframes circle11 {
  0% {
    opacity: 0%
  }

  50% {
    transform: scale(100%);
    opacity: 0%
  }

  55% {
    opacity: 100%;
  }

  100% {
    transform: scale(1000%);
  }
}

.circle12 {
  position: absolute;
  left: -200px;
  top: -200px;
  width: 440px;
  height: 440px;
  border-radius: 100%;
  border: 1px solid #313F86;
  animation: circle12 26s linear infinite;
}

@keyframes circle12 {
  0% {
    opacity: 0%
  }

  55% {
    transform: scale(100%);
    opacity: 0%
  }

  60% {
    opacity: 100%;
  }

  100% {
    transform: scale(1000%);
  }
}

.circle13 {
  position: absolute;
  left: -200px;
  top: -200px;
  width: 440px;
  height: 440px;
  border-radius: 100%;
  border: 1px solid #313F86;
  animation: circle13 27s linear infinite;
}

@keyframes circle13 {
  0% {
    opacity: 0%
  }

  60% {
    transform: scale(100%);
    opacity: 0%
  }

  65% {
    opacity: 100%;
  }

  100% {
    transform: scale(1000%);
  }
}

.circle15 {
  position: absolute;
  left: -200px;
  top: -200px;
  width: 440px;
  height: 440px;
  border-radius: 100%;
  border: 1px solid #313F86;
  animation: circle15 29s linear infinite;
}

@keyframes circle15 {
  0% {
    opacity: 0%
  }

  70% {
    transform: scale(100%);
    opacity: 0%
  }

  75% {
    opacity: 100%;
  }

  100% {
    transform: scale(1000%);
  }
}

.clouds {
  display: none;
}

.cloudsshow {
  display: block;
}

.cloud1, .cloud2, .cloud3, .cloud4, .cloud5, .cloud6, .cloud7 {
  display: block;
}

 .cloud1sh, .cloud2sh, .cloud3sh, .cloud4sh, .cloud5sh, .cloud6sh, .cloud7sh {
  display: none;
}

.cloud1 {
  background-image:url('../img/cloud1');
}
.cloud2 {
  background-image:url('../img/cloud2');
}
.cloud3 {
  background-image:url('../img/cloud3');
}
.cloud4 {
  background-image:url('../img/cloud4');
}
.cloud5 {
  background-image:url('../img/cloud5');
}
.cloud6 {
  background-image:url('../img/cloud6');
}
.cloud7 {
  background-image:url('../img/cloud7');
}
